{% extends "base.htm.j2" %}

{% block content %}
  {% include 'includes/_usernavbar.html' %}

  <div class="row w-75 mt-3">
    <div class="col-3 pl-5">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active d-flex align-items-center" id="v-pills-rev-tab" data-toggle="pill"
           href="#v-pills-rev" role="tab"
           aria-controls="v-pills-home" aria-selected="true">
            <i class="pr-1" style="width: 20px; height: 20px;" data-feather="clipboard"></i>
            Revision
        </a>
        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
           role="tab" aria-controls="v-pills-profile" aria-selected="false">
            <i class="pr-1" style="width: 20px; height: 20px;" data-feather="book-open"></i>
            Subject
        </a>
        <a class="nav-link" id="v-pills-home-topic" data-toggle="pill" href="#v-pills-topic"
           role="tab" aria-controls="v-pills-topic" aria-selected="false">
            <i class="pr-1" style="width: 20px; height: 20px;" data-feather="paperclip"></i>
            Topic
        </a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
           role="tab" aria-controls="v-pills-profile" aria-selected="false">
            <i class="pr-1" style="width: 20px; height: 20px;" data-feather="briefcase"></i>
            Grade
        </a>
      </div>
    </div>
    <div class="col-9 pl-5">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-rev" role="tabpanel" aria-labelledby="v-pills-home-tab">
          {% include 'includes/_revision.htm.j2' %}
        </div>
        <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          {% include 'includes/_subject.htm.j2' %}
        </div>
        <div class="tab-pane fade" id="v-pills-topic" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          {% include 'includes/_topic.htm.j2' %}
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          {% include 'includes/_grade.htm.j2' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}