{% extends "base.htm.j2" %}

{% block content %}
  <div class="user-header p-2 m-2 border-bottom">
    <img src="{{ url_for('static', filename=current_user.urole+'.svg') }}" alt="Avatar" class="d-inline user-avatar align-middle rounded-circle border border-primary">  
    <h1 class="pl-2 d-inline align-middle">Hi, {{ current_user.username }}!</h1>
  </div>

  <div class="row w-75 mx-auto">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active d-flex align-items-center" id="v-pills-rev-tab" data-toggle="pill"
           href="#v-pills-rev" role="tab"
           aria-controls="v-pills-home" aria-selected="true">
            <i class="pr-1" style="width: 20px; height: 20px;" data-feather="clipboard"></i>
            Revision
        </a>
        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
           role="tab" aria-controls="v-pills-profile" aria-selected="false">
            <i class="pr-1" style="width: 20px; height: 20px;" data-feather="book-open"></i>
            Subject
        </a>
        <a class="nav-link" id="v-pills-home-topic" data-toggle="pill" href="#v-pills-topic"
           role="tab" aria-controls="v-pills-topic" aria-selected="false">
            <i class="pr-1" style="width: 20px; height: 20px;" data-feather="paperclip"></i>
            Topic
        </a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
           role="tab" aria-controls="v-pills-profile" aria-selected="false">
            <i class="pr-1" style="width: 20px; height: 20px;" data-feather="briefcase"></i>
            Grade
        </a>
        <a class="nav-link" id="v-pills-iter-tab" data-toggle="pill" href="#v-pills-iter"
           role="tab" aria-controls="v-pills-iter" aria-selected="false">
            <i class="pr-1" style="width: 20px; height: 20px;" data-feather="calendar"></i>
            Iteration
        </a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-rev" role="tabpanel" aria-labelledby="v-pills-home-tab">
          {% include 'includes/_revision.htm.j2' %}
        </div>
        <div class="tab-pane fade" id="v-pills-iter" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <ul class="list-group w-50 mx-auto">
            <li class="list-group-item">1st revision: <strong>24 hours</strong></li>
            <li class="list-group-item">2nd revision: + <strong>1 week</strong></li>
            <li class="list-group-item">3rd revision: + <strong>1 month</strong></li>
            <li class="list-group-item">4th revision: + <strong>6 months</strong></li>
          </ul>
        </div>
        <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          {% include 'includes/_subject.htm.j2' %}
        </div>
        <div class="tab-pane fade" id="v-pills-topic" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          {% include 'includes/_topic.htm.j2' %}
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          {% include 'includes/_grade.htm.j2' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}