<!--
// includes -> dashboard.html
-->
<div class="form-subject">
  <h4>New subject</h4>
  <hr>
  {% from fh import render_field %}
  <form method="POST" class="w-50" onSubmit="clearField();">
      {{ sform.csrf_token }}
      <div class="form-group row align-items-center mx-sm-2 mb-2">
          {{ sform.subject.label }}
          {{ sform.subject(size=20, class_="form-control") }}
      </div>

      <div class="form-group row align-items-center mx-sm-2 mb-2">
          <label for="color_id">Pick a color:</label>
          <input class="form-control w-25 ml-3" name="color_id" id="color_id" type="color"
                 value="#ff0000" required>
      </div>

      {{ sform.submit(class_="btn btn-primary mx-sm-2 mb-2") }}
  </form>
</div>
<div class="legend border w-50 my-5 p-3 border-secondary rounded">
  <h5>Subjects:</h5>
  {% for subject in subjects %}
  <div class="legend-list d-flex flex-row align-items-center pt-3">
      <div class="circle" style="background: {{subject.color_id}};"></div>
      <span class="legend-subject px-3">
      {{subject.subject_name}}
      </span>
      <i class="small text-secondary" data-feather="trash-2"></i>
  </div>
  {% endfor %}
</div>