{% extends "base.htm.j2" %}

{% block content %}
<h1>
Calendar page
</h1>

<div class="calendar-header d-flex flex-row align-items-center">
  <div class="cal-nav">
    <div class="btn-group" role="group" aria-label="Calendar navigation">
      {% if curr_month == 1 %}
        <button type="button" class="btn btn-light" disabled><i data-feather="chevron-left"></i></button>
      {% else %}
        <a href = {{ url_for( 'calendar.dashboard' ,month=curr_month-1, year=curr_year) }} class="btn btn-light"><i data-feather="chevron-left"></i></a>
      {% endif %}
      <button type="button" class="btn btn-primary" disabled>{{ curr_month  | str_month }}</button>
      {% if curr_month == 12 %}
        <a href = {{ url_for( 'calendar.dashboard' ,year=curr_year+1, month=1) }} class="btn btn-light"><i data-feather="chevron-right"></i></a>
      {% else %}
        <a href = {{ url_for( 'calendar.dashboard' ,month=curr_month+1, year=curr_year) }} class="btn btn-light"><i data-feather="chevron-right"></i></a>
      {% endif %}
    </div>
  </div>
  <a href={{ url_for('calendar.dashboard' ,month=today[0]) }} class="h4 font-weight-bold mb-0 pl-5">
    Today
    <small>{{today[1]}}</small>
  </a>
</div>
<hr>
<div class="container">
  <div class="calendar">
    {% for d in days %}
    <div class="day bg-primary mb-2 text-white font-weight-bold text-center py-3 border border-secondary">
      {{d}}  
    </div>
    {% endfor %}
    {% for day in calendar %}
      {% if day is number and day %}
      <div class="day text-left pl-4 py-3 border border-secondary">
        {{day}}
      </div>
      {% elif day is mapping %}
        <div class="subject border p-2 border-primary">
          {% for d in day.items() %}
            <div class="d-flex flex-row align-items-center subject-el">
              {% if d[1][1] %}
              <div class="d-flex flex-row align-items-center" data-toggle="popover" data-trigger="focus" tabindex="0" title="{{d[1][2]}}" data-content="{{d[1][1]}}">
              {% endif %}
                <div class="circle" style="background: {{d[1][0]}};"></div>
                <span class="subject-el border-light small pl-3 pr-3" data-toggle="tooltip" data-placement="top" title="{{d[0]}}">{{d[0]}}</span>
              {% if d[1][1] %}
                <i class="note-icon" data-feather="message-square" stroke-width="3"></i>
              </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="day text-center py-3 border border-white"></div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}