{% extends "base.htm.j2" %}

{% block content %}
<div class="container pt-3">
  <div class="jumbotron">
    <img src="{{ url_for('static', filename='student.svg') }}" alt="Avatar" class="d-inline user-avatar align-middle">
    <h1 class="display-4 d-inline align-middle">Hello{% if not current_user.is_anonymous %} ,{{ current_user.username }}{% endif %}!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
{% endblock %}